.button {
    -fx-background-color: #3f2B63;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #2A1C42;
}

.button:pressed {
    -fx-background-color: #7156DD;
}